* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100%;
    /*background: #2f393f !important;*/
    background: #fff !important;
    padding: 16px;
}

.container {
    border: 4px solid #ffdcB3;
    border-radius: 20px;
    margin-top: 50px;
    /*background: #858688;*/
    background: #fff;
    padding: 50px;
    padding-bottom: 20px !important;
}

.container h3 {
    color: #000;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.main-container {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}

.info-header {
    color: #ff6700;
    text-align: left;
    margin-left: 16px;
    padding-top: 8px;
}

.splash-title {
    font-size: 45px;
    font-weight: 700;
    display: inline-block;
}

.error {
    color: rgba(216, 0, 12, 0.81);
}

.progress-area {
    height: 280px;
    width: 450px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    background-image: url("/assets/media/file_upload_progress.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
}

.drag-area {
    border: 2px dashed #000;
    height: 280px;
    width: 450px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    /*background-image: url("/assets/media/upload-bg-pic.jpg");*/
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.drag-area.active {
    border: 2px solid #fff;
}

.drag-area .icon {
    font-size: 100px;
    color: #fff;
}

.drag-area header {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.drag-area span {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin: 10px 0 15px 0;
}

.drag-area button {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: #5256ad;
    border-radius: 5px;
    cursor: pointer;
}

.drag-area img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.splash-title-left {
    font-size: 50px;
    font-weight: 700;
    padding-top: 20px;
}

.karum-logo {
    width: auto;
    float: right;
}

.karum-logo2 {
    width: auto;
    float: right;
}

@media screen and (max-width: 1024px) {
    .karum-logo {
        width: auto;
        float: none;
    }

    .karum-logo2 {
        width: 100% !important;
        float: none;
        text-align: center;
        display: block !important;
    }
    .splash-subtitle-left{
        text-align: center !important;
      }

      .splash-title-left{
        text-align: center !important;
      }
      .header{
        text-align: center !important;
      }
}

.summaryTable label {
    display: inline-block;
    font-size:14px;
}

.form-custom:after {
    content: " *";
    color: #000;
}

.custom-summary-form {
    width: 100%;
    height: auto;
    padding: 7px 6px 3px 2px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid red;
    color: #182035;
    display: inline-block;
}

input:not(:placeholder-shown) {
    border-color: #2EDB7C;
}

input:focus {
    outline: none;
}

.summary-form-select {
   width: auto;
   height: auto;
   padding: 7px 6px 3px 2px;
   background: transparent;
   border: 0;
   border-bottom: 1px solid #2EDB7C;
   color: #fff;
   display: inline-block;
}

.summary-form-select option {
    margin: 40px;
    background: rgba(0, 0, 0, 0.3);
    padding: 5px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}